.header{
  width: 100%;
  height: 60px;
  background-color: #519872;
}

.navbar{
  display: flex;
  margin-left: 25%;
}

.logo{
  color: white;
  font-size: 40px;
}

.title{
  color: white;
  font-size: 40px;
  margin-left: 20px;
}

.wizard-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.sidebar{
  height: 100vh;
  width: 25vw;
  background-color: #afd4c0;
  /* background-color: blue; */
}

.middlebar{
  background-color: #e5f4ec;
  height: 100vh;
  width: 50%;
}

.middle-content{
  width: 50vw;
}

.wizard-header{
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.input-boxes-wizard{
  height: 55px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 25%;
}

.input-boxes-wizard-2 {
  height: 55px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  margin-right: 65%;
}

.input-boxes-wizard-step3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-state-zip{
  height: 55px;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
}

.column-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.complete-button{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.next-step-buttons {
  /* height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35%;

}

.previous-next {
  color: white;
  font-size: 22px;
  background-color: #3b5249;
  height: 35px;
}

.complete {
  font-size: 22px;
  height: 35px;
  background-color: #8aea92;
}

.cancel-button {
  background-color: #fec2c2;
  font-size: 14px;
}

.title-wizard {
  font: bold;
  margin-left: 20px;
}

/* 
Dashboard page

*/


.dashboard-page{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.dashboard-header{
  font-size: 30px;
  width: 50vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.housing-display{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
  background-color: #dedede;
  margin-left: 15px;
  margin-right: 15px;
}

.house-image{
  height: 150px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 140px;
  width: 165px;
}